.white-background{
    background-color: #f0f0f0;
    height: 100%;
}

.form-control {
  border: 3px solid var(--main-color);
  border-radius: 40px;
}

.btn-primary {
  background: var(--main-color);
  border-radius: 40px;
}

.btn-primary:hover {
  background: #3f1651;
}

.btn-primary:focus,
.btn-primary {
  border: none;
}

.accountSwitch {
    color: #c2549d !important;
    font-size: clamp(0.1rem, 5vw + 1rem, 1.2rem);
  }
  .accountSwitchLink {
    position: relative;
    text-decoration: none;
    font-style: italic;
  }
  .accountSwitchLink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #c2549d !important;
    color: #c2549d !important;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .accountSwitchLink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

@media screen and (max-width: 720px) {
  .filler {
    visibility: hidden;
  }

  .title {
    font-size: 6rem;
  }
}
