@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');



@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}
:root{
  --main-color: #653780;
  --hover-color: #352042;
  --title-font: 'Josefin Sans', sans-serif;
}

.body{
  background-color: #DED3D3 !important;
}

*{
  font-family: var(--title-font) !important;
}

.swal-container{
  background-color: var(--main-color) !important;
}

.swal-white-text{
  color: white !important;
}

.swal-icon{
  border-color: white !important;
}

.swal-progress-bar{
  background-color: whitesmoke !important;
}

.swal-cancel{
  
  background-color: '#3C19FC' !important;
  color:white !important;
}

.swal-confirm{
  background-color: #D92122 !important;
  color: 'white' !important;
}

.swal-input{
  color: white !important;
  border: none;
}
.swal-input-label{
  color: white !important;
  text-align: left !important;
}

.swal-input:focus{
  border: 3px solid white !important;
  outline: none !important;
  box-shadow: none !important;
}

.swal-settings-cancel{
  color: white !important;
  background-color: rgba(255, 0, 0, 0) !important;
}

